/**
 * @file
 * Visual styles for links.
 */

 ul.inline,
 ul.links.inline {
   display: inline;
   padding-left: 0; /* LTR */
   margin-right: 10px; /* Add margin to the right */
 }
 [dir="rtl"] ul.inline,
 [dir="rtl"] ul.links.inline {
   padding-right: 0;
   padding-left: 15px;
   margin-left: 10px; /* Add margin to the left */
   margin-right: 0;
 }
 ul.inline li {
   display: inline;
   padding: 0 0.5em;
   list-style-type: none;
 }
 ul.links a.is-active {
   color: #000;
 }