/**
 * @file
 * Visual styles for tabs.
 */

 div.tabs {
  margin: 1em 0;
  background-color: #f9f9f9; /* Light gray background */
  border: 1px solid #ddd; /* Light gray border */
  padding: 5px; /* Add padding */
}
ul.tabs {
  margin: 0 0 0.5em;
  padding: 0;
  list-style: none;
}
.tabs > li {
  display: inline-block;
  margin-right: 0.3em; /* LTR */
}
[dir="rtl"] .tabs > li {
  margin-right: 0;
  margin-left: 0.3em;
}
.tabs a {
  display: block;
  padding: 0.2em 1em;
  text-decoration: none;
  font-weight: bold; /* Make links bold */
  color: #333; /* Dark gray link color */
}
.tabs a.is-active {
  background-color: #e0e0e0; /* Slightly darker gray for active tab */
}
.tabs a:focus,
.tabs a:hover {
  background-color: #f0f0f0; /* Slightly lighter gray on hover/focus */
}